body {
  margin:0;
  justify-content: center;
  display: flex;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

}

h1 {
  
  margin : 0;
  margin-bottom: 2%;

}

p {
  font-weight: bolder;
  font-size: xx-large;
}

.input, select {
  border: 2px solid black;
  border-radius: 5%;
  margin: 2%;
  /*-moz-appearance : textfield; = this is no longer used in current browsers*/
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
}
